table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}

.assignee-header {
  background-color: aqua;
}
.assignee {
  background-color: aqua;
}

#todo-header {
  background-color: #ffaf00;
}
#inprogress-header {
  background-color: #018b01;
}
#complete-header {
  background-color: aquamarine;
}
#task-list {
  background-color: #fec6d1;
}

#add-assignee-form {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #88888878;
}

#add-task-form {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #88888878;
}

#change-task-status-form {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #88888878;
}

.container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: tomato;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  }
  
  .kanban-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
  }
  
  #todo {
    background-color: #fec6d1;
  }
  
  #inprogress {
    background-color: #ffaf00;
  }
  
  #done {
    background-color: #018b01;
  }
  
  #assignee {
    background-color: azure;
  }
  
  /* body {
    background-color: black;
  } */

  .add-container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
