<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}"></link>
    <title>Document</title>
</head>

<body>

<button id="get-data">Show Board!</button>
<br>
<button id="show-add-task-form">Add New Task</button>
<button id="show-add-assignee-form">Add New Assignee</button>

<div id="add-assignee-form">
    <form action="#" method="post" enctype="multipart/form-data">
    <h2>Specify Assignee</h2>
    <label>Assignee Name</label>
    <input type="text" name="name" value="" placeholder="entere assignee name">
    <hr>
    <button type="submit" id="save-assignee">save</button>
    <button type="reset">cancel</button>
    </form>
</div>

<div id="add-task-form">
    <form action="#" method="post" enctype="multipart/form-data">
        <h2>Specify Task</h2>
        <label>Task Name</label>
        <input type="text" name="taskName" value="" placeholder="enter short task name">
        <hr>
        <label>Task Description</label>
        <input type="text" name="taskDescription" value="" placeholder="enter task description">
        <hr>
        <button type="submit" id="save-task">save</button>
        <button type="reset">cancel</button>
    </form>
</div>

<div id="change-task-status-form">
    <form action="#" method="post" enctype="multipart/form-data">
        <h2>Specify changes in the Task</h2>
        <label>New Task Name</label>
        <input type="text" name="taskName" value="" placeholder="enter short task name">
        <hr>
        <label>New Task Description</label>
        <input type="text" name="taskDescription" value="" placeholder="enter task description">
        <hr>
        <label>New Task Status</label>
        <input type="text" name="taskStatus" value="" placeholder="enter task status">
        <hr>
        <button type="submit" id="save-changed-task">save</button>
        <!-- <button type="reset">cancel</button> -->
    </form>
</div>

<div class="table">
    <table>
        <thead id="header">
        <tr>
            <th class="assignee-header">Assignee</th>
            <th class="task-header" id="todo-header" data-sort-by="TODO">To Do</th>
            <th class="task-header" id="inprogress-header" data-sort-by="INPROGRESS">In Progress</th>
            <th class="task-header" id="complete-header" data-sort-by="COMPLETE">Complete</th>
        </tr>
        </thead>
    
        <tbody id="task-list">
    
        </tbody>
    
    </table>
</div>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>